{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules":{
    "no-sequences" : "off",
    "prefer-template": "off"
  },
  "env":{
    "mocha": true
  }
}