{
  "name": "teamplate-js",
  "version": "1.0.0",
  "description": "A Node.JS application template that uses a MySQL database to act as a simple api and web server.",
  "scripts": {
    "clean": "rimraf coverage",
    "populate": "node ./db/index.js",
    "start": "node ./web/index.js",
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/sealneaward/teamplate-js.git"
  },
  "author": "Neil Seward",
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/sealneaward/teamplate-js/issues"
  },
  "homepage": "https://github.com/sealneaward/teamplate-js#readme",
  "dependencies": {
    "bluebird": "^3.4.3",
    "body-parser": "^1.15.2",
    "bunyan": "^1.8.1",
    "express": "^4.14.0",
    "lodash": "^4.15.0",
    "mongoose": "^4.5.10",
    "path": "^0.12.7",
    "pug": "^2.0.0-beta6",
    "rc": "^1.1.6",
    "request": "^2.74.0",
    "rimraf": "^2.5.4",
  }
}
